// vim: set nowrap:

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define XXX &none
#define ___ &trans

#define DVORAK 0
#define NAV 1
#define FUN 2
#define SYM 3
#define NUM 4


#define HYPER LG(LA(LS(LCTRL)))

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    timeout-ms = <80>; \
  };

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <200>;
};

/ { 

    combos {
        /*                KEY POSITIONS

          ╭────────────────────╮ ╭────────────────────╮
          │  0   1   2   3   4 │ │  5   6   7   8   9 │
          │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
          │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
          ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
                      ╰────────╯ ╰────────╯           
        */
        compatible = "zmk,combos";
        COMBO(caps_word, &caps_word, 20 29)
        COMBO(esc, &kp ESC, 10 19)
        COMBO(minus, &kp MINUS, 3 6)
        COMBO(repeat, &key_repeat, 4 5)
        COMBO(under, &kp UNDER, 23 26)
        COMBO(ralt, &sk RALT, 30 33)
        COMBO(del, &kp DEL, 28 29)
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
          label = "dvorak";
          bindings = <
          // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          // │  ' "        │  W          │  E          │  R          │  T          │   │  F          │  G          │  C          │  R          │  L          │
               &kp SQT       &kp COMMA     &kp DOT       &kp P         &kp Y             &kp F         &kp G         &kp C         &kp R         &kp L
          // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          // │  A          │  O          │  E          │  I          │  U          │   │  D          │  H          │  T          │  N          │  S          │
               &mt LGUI  A   &mt LALT O    &mt LSHIFT E  &mt LCTRL U   &mt LGUI I        &mt LGUI  D   &mt LCTRL H   &mt RSHIFT T  &mt LALT N    &mt LGUI S
          // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          // │  ; :        │  Q          │  J          │  K          │  X          │   │  Y          │  U          │  I          │  O          │  P          │
               &kp SEMI      &kp Q         &kp J         &kp K         &kp X             &kp B         &kp M         &kp W         &kp V         &kp Z
          // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
          //                                           │  R          │  T          │   │  Y          │  U          │
                                                         &lt NUM TAB   &lt NAV SPC       &lt SYM RET   &lt FUN BSPC
          //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
          >;
        }; 

        nav_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        // │             │             │             │             │             │   │ {           │ }           │ UP          │ HOME        │             │
              XXX           XXX          XXX           XXX           XXX               &kp LBRC      &kp RBRC      &kp UP        &kp HOME      XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │             │             │             │             │             │   │ (           │ LEFT        │ DOWN        │ RIGHT       │             │
             ___           ___           ___           ___           ___               &kp LPAR      &kp LEFT      &kp DOWN      &kp RIGHT     ___ 
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │             │             │             │             │             │   │ )           │ [           │ ]           │ END         │             │
             ___           ___           ___           ___           ___               &kp RPAR      &kp LBKT      &kp RBKT      &kp END       XXX
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                           │             │             │   │             │             │
                                                       ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
        };

        fun_layer {
            bindings = <

        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &bootloader    &sys_reset    ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
       };

       sym_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        // │             │             │             │             │ ` ~         │   │             │             │             │             │             │
             ___           ___           ___           ___           &kp GRAVE         ___           ___           ___           ___           ___ 
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │ ^           │ @           │ #           │ !           │ $           │   │             │             │             │             │             │
             &kp CARET     &kp AT        &kp HASH      &kp EXCL      &kp DLLR          ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │ %           │ &           │ *           │ ?           │ ~           │   │             │             │             │             │             │
             &kp PRCNT     &kp AMPS      &kp STAR      &kp QMARK     &kp TILDE         ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                           │             │             │   │             │             │
                                                       ___           ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
        };

        num_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        // │             │             │             │             │             │   │ +           │ F7 / 7      │ F8 / 8      │ F9 / 9      │ / ?         │
             ___           ___           ___           ___           ___               &kp PLUS      &mt F7 N7     &mt F8 N8     &mt F9 N9     &kp SLASH
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │             │             │             │             │             │   │  = +        │ F1 / 1      │ F2 / 2      │ F3 / 3      │ |           │
             ___           ___           ___           ___           ___               &kp EQUAL     &mt F1 N1     &mt F2 N2     &mt F3 N3     &kp PIPE
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        // │             │             │             │             │             │   │  - _        │ F4 / 4      │ F5 / 5      │ F6 / 6      │ \ |         │
             ___           ___           ___           ___           ___               &kp MINUS     &mt F4 N4     &mt F5 N5     &mt F6 N6     &kp BSLH
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                           │             │             │   │             │ 0           │
                                                       ___           ___                ___          &kp N0
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
                >;
        };
    };
};
